

body{
    background-color: rgb(105, 109, 55);
    text-align:center;
    font-family:'Franklin Gothic Medium';
    
}

#header{
    font-size:3em;
    color: rgb(227, 213, 29);
    text-shadow: rgb(1, 12, 24) 0.1em 0.03em 0.1em;
   font-weight: bold;
}

#description {
	font-size: 1.9em;
	color: rgb(163, 184, 83);
	padding: 50px;
    text-shadow: rgb(67, 92, 31) 0.1em 0.03em 0.1em;}