

body{
    background-color: rgb(78, 81, 38);
    text-align:center;
    font-family:'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif,;
    
}

#header{
    font-size:3em;
    color: rgb(203, 191, 23);
    text-shadow: rgb(1, 12, 24) 0.1em 0.03em 0.1em;
   font-weight: bold;
}

#description {
	font-size: 1.9em;
	color: rgb(163, 184, 83);
	padding: 50px;
    text-shadow: rgb(67, 92, 31) 0.1em 0.03em 0.1em;
}
footer {
	color: #789;
	text-decoration: none;
}

a.footer:hover {
	text-decoration: underline;
}